version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    volumes:
      - /vol1/1000/docker/gas:/app/instance
    restart: unless-stopped
  
  frontend:
    build: ./frontend
    ports:
      - "8000:8000"
    restart: unless-stopped
    depends_on:
      - backend

